

body{
  font-family: "Source sans pro", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: "Fjalla one", sans-serif;
}
 h1
 {
   font-size: 40px;
   line-height: 150%;
   letter-spacing: -.2px;
   color: white;
   margin: 0px 0px;
   padding-top: 69px;
   padding-left: 50px;
 }
 
 h1 strong
 {
   color: #0037c3;
 }

.hero{
  height: 300px;
  /*background-image: url("imagenes/desarrollador-web.png");*/
  /*background-size: 770px 420px;*/
  /*background-repeat: no-repeat;*/
  /*background-position-x: right;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;


}
.hero-image{
  object-fit: cover;
  position: absolute;
  right: 0;
  background: linear-gradient(to right, #838383 , #4e4e4e);
  padding-left: 100%;
}
.header{
  background: linear-gradient(to right, #838383 , #4e4e4e);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  width: 100%;
}
ol,
ul{
  margin:0px;
  padding: 0;
  display: flex;
  list-style: none;
  height: inherit;
}
.menu{
  margin-right: 50px;
  font-style: bold;
}
.header ol{
  display: flex;
  height: inherit;
}
.header ol li{
  height: inherit;
}
.header a{
  padding: 0 10px ;
}
.logo img
{
  margin: 0;
  height: inherit;
  padding: 0px 0px;
  vertical-align: middle;
}
.header a{
  color: white;
  text-decoration: none;
}
.project{
  border: 1px solid gray;
  border-radius: 10px;
  margin: 15px auto;
  background: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
div.project-details{
  padding-left: 45px;
  width: 50%;
  padding-bottom: 15px;
}
.project-title{
  font-size: 30px;
  padding-top: 0px;
}
.project-image{
  border-radius: 10px ;
  width:30%;
  margin: 50px;


}
.project-image-calculadora{
  border-radius: 10px ;
  margin: 50px;
  margin-left: 770px;
  margin-top: -900px;
  height: 171px;
  width: 300px;
}
}

.description{


}
.portfolio{
  padding: 20px;;
}
.portfolio h2{
   color: #0037c3;
   padding-left: 15px;

}
h2{
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform:  uppercase;
  font-style: bold;
  font-weight: 30px;
}
.contact{

  background: linear-gradient(to right, #0037c3 , #00278b);
  color: white;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social{

}
.social-link{
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 10px;
  margin-right: 20px;

}
.social-link.github{
  background-image: url("imagenes/iconmonstr-github-1-240.png");
  background-size: 60px 60px;
}
.social-link.instagram{
  background-image: url("imagenes/iconmonstr-instagram-11-240.png");
  background-size: 60px 60px;
}
.social-link.twitter{
  background-image: url("imagenes/iconmonstr-twitter-4-240.png");
  background-size: 60px 60px;
}
.social-link.facebook{
  background-image: url("imagenes/iconmonstr-facebook-4-240.png");
  background-size: 60px 60px;
}
.form-email{
  margin-left: 20px;
}

.form-email input{
  border-color: gray;
  border-style: solid;
  padding: 5px 20px;
  border-radius: 7px;
}
button{
  display: block;
  background: transparent;
  color: white;
  width: 80px;
  border-radius: 7px;
  margin: 10px  ;
  padding: 5px 0;
  border-style: solid;
}
.form-email h3{
   font-family: "Source Sans Pro", sans-serif;
   font-size: 25px;
}
.container{
  max-width: 1200px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
.container h1 {
  position: absolute;
  z-index: 99;
}
.margin{
  margin-top: -150px!important;
}

@media screen and (max-width: 1024px) {
  .hero-image{
    margin-top: -188px;
    margin-left: 500px;
    width: 50%;
    height: 50%;
  }
  .margin{
    margin-top: 0px!important;
  }
}

@media screen and (max-width: 767px) {
  @font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?bqb2fe');
    src:  url('fonts/icomoon.eot?bqb2fe#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?bqb2fe') format('truetype'),
      url('fonts/icomoon.woff?bqb2fe') format('woff'),
      url('fonts/icomoon.svg?bqb2fe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }


  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 28px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-menu:before {
    content: "\e900";
  }
  .icon-menu{
    position: fixed;
    color: #323232;
    margin: 3px 4px;
    padding: 13px 14px;
    z-index: 4;
    background-color: rgba(50, 50, 50, .3);
    border-radius: 50px;
  }
  .menu{
    position: fixed;
    background: rgba(0, 55, 195, .9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active{
    left: 0;
  }
  .header a{
    font-size: 1.5em;
  }
  .hero{
    height: 280px;
    position: relative;
    padding: 2em;
    overflow: hidden;
    padding: 0;
  }
  .hero-image{
    margin-top: -1px;
    margin-left: 0;
    width: 100%;
    height: 100%;
  }
  h1{ position: absolute;
    font-size: 1.8em;
    top: 10px;
        left: 10px;
  }
 .header{
   display: block;
   height: auto;
   flex-wrap: wrap;
 }
 .logo{
   padding: 15px 0px;
   margin-top: 0;
   margin-bottom: 0;
   align-items: center;
 }
 .header ol{
   display: initial;
   height: auto;
 }
 .header ol li{
   height: 50px;
   text-align: center;
   margin-left: 0;

 }
 .header .logo{
   text-align: center;
   justify-content: center;
 }
 .project{
   flex-wrap: wrap;

 }
 div.project-details {
    width: auto;
    padding: 5% 5% 5% 5%;
    font-size: 16px;
  }
  .project-title{
    font-size: 1.5em;
  }
  .tecnology-project{
    font-size: 1em;
    margin-bottom: 0px;
  }
  .date{
    margin-top: 17px;
    font-size: 1em;
  }
  .link-text{
    font-size: 1em;
  }
  .description{
    font-size: 1.1em;
  }
  .project-image {
    width: 80%;
    margin: auto;
   }
   .project-image-calculadora{
     width: 300px;
     margin-left: 12%;
     margin-top: 15%;
   }
}
@media screen and (max-width: 621px) {
  .contact{
    height: auto;
    text-align: center;
    display: block;
  }
  .form-email button{
    margin: 10px auto;
  }
  .form-email h3 {
    padding-top: 5%;
  }
  h1{
    margin-top: 10px;
  }
  h1 strong
  {
    color: #306aff;
  }

}
@media screen and (max-width: 480px) {
  .project-details {
    padding-left: 45px;
    font-size: 12px;
}
.hero-image{
  margin-left: 0;
}
.project-image-calculadora{
  margin: auto;
}



@media screen and (max-width: 320px) {
  .project-details {
    font-size: 10px;
     }
     .social-link{
       display: inline-block;
       width: 40px;
       height: 40px;
       margin: 10px;
       margin-right: 20px;
     }
     .social-link.github{
       background-size: 40px 40px;
     }
     .social-link.instagram{
       background-size: 40px 40px;
     }
     .social-link.twitter{
       background-size: 40px 40px;
     }
     .social-link.facebook{
       background-size: 40px 40px;
     }
     .hero-image{
       margin-top: -1px;
       margin-left: 0;
       width: 100%;
       height: 280px;
     }
     h1{
       margin-top: -25px;
       left: 0;
     }
     .project-image-calculadora{
       width: 220px;
       height: 141px;
       margin-left: 5%;
       margin-top: 15%;
     }
}

