.principalContainer{
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  color: #f4f3f3;
  margin-bottom: 20px;
  position: relative; /* Necesario para posicionar el pseudo-elemento */
}
